.productCard {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.productCard .card {
    margin: 1.5rem 1rem;
    min-width: 15rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    min-width: 23rem;
    max-width: 23rem;
    box-sizing: border-box;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    outline: .3rem solid var(--sec-light);
    outline-offset: -1rem;
}

.card img {
    width: 9rem;
    padding: 2rem 0px;
    margin: auto;
    box-sizing: border-box;

}

/* .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
} */

.card h3 {
    font-size: 1.6rem;
    font-family: Roboto, Geneva, Tahoma, sans-serif;
    margin-bottom: 1.2rem;
    font-weight: 600;

}

.list-group .list-group-item  span {
    font-size: 1rem;
    font-family: Roboto,
        Geneva,
        Tahoma,
        sans-serif;
    font-weight: 500;
}

.card:hover {
    outline: .3rem solid var(--sec-light-2);
    outline-offset: 0rem;
    border: 3px solid var(--sec);
}



.productCard .sectionHome {
    flex-direction: column;
}