@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import "utils.css";


@import "footer.css";

@import "navbar.css";

@import "animation.css";

@import "home.css";

@import "allProducts.css";

@import "productDetail.css";

@import "bg_animation.css";


:root {
    --primary:#19bc8b;
    --sec:#0b61f3;
    --sec-light-2:#71bfff;
    --sec-light:#1973bc;
}
    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    min-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    
}


html::-webkit-scrollbar {
    width: 0;
    background: transparent;
    scroll-behavior: smooth;
}


main {
    margin-top: 70px;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.heading {
    text-align: center;
    padding: 3rem 0 1rem 0;
    font-size: 3.5rem;
    color: var(--sec);
    text-align: center;
    font-weight: 600;
    animation: slidhehe 0.9s ease-in-out;
}

.heading span {
    background: var(--sec);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.cursor {
    width: 2.5rem;
    height: 2.5rem;
    border: 3px solid var(--sec);
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 10;
}

.cursor::after {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    border: 8px solid #18caf6d3;
    border-radius: 50%;
    opacity: .5;
    top: -3px;
    left: -3px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 2px solid var(--primary);
}