.welcome {
    height: 60vh;
    background: #1ee9e9;

}

.card {
    background-color: rgb(255, 255, 255);
    color: #333;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 1rem rgba(206, 206, 206, 0.877);
    padding: 1rem;
    margin: 1rem;
    min-height: 20rem;
    width: 10rem;
}

hr {

    border-radius: 2rem;
    background-image: linear-gradient(90deg, rgb(170, 221, 255), var(--sec));
    height: 0.6rem;
    background-color: var(--sec);
    display: block;
    width: 95%;
    border: none;
    margin: 0 0px 1rem 0px;
    animation: slidel 1.1s ease;
    opacity: 1;

}

.sectionHome h1 {

    /* font-size: 3rem; */
    color: var(--sec);
    text-align: center;
    font-weight: 600;
    animation: slidhehe 0.9s ease-in-out;
}

.sectionHome .container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 40vh;
    /* margin: auto; */
}

.ourProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.sectionHome .card {
    text-align: center;
    margin: 18px 10px 20px;
    animation: fadecin 1s ease-in;
    height: 80%;
    transition: transform 0.2s ease-in;
}

.sectionHome .card:hover {
    transform: scale(1.03);
}

.sectionHome .card a {
    text-decoration: none;
}


.products .product-slider {
    padding: 1rem;
    width: 100vw;
    min-height: 40rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

/* .products .product-slider:first-child {
    margin-bottom: 2rem;
} */

.products .product-slider .card {
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 2rem 1.5rem;
    outline-offset: -1rem;
    outline: .2rem solid var(--sec-light);
    box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, .1);
    min-width: 25rem;
    min-height: 25rem;
    transition: .2s linear;
}

.products .product-slider .card:hover {
    outline-offset: 0rem;
    outline: .3rem solid var(--sec);
}

.products .product-slider .card img {
    height: 15rem;
}

.products .product-slider .card h3 {
    font-size: 2.5rem;
    color: #111;
}

.products .product-slider .card .price {
    font-size: 2rem;
    color: var(--sec-light);
    padding: .5rem 0;
}

.products .product-slider .card .stars i {
    font-size: 1.7rem;
    color: gold;
    padding: .5rem 0;
}



/* caro */


/* .carosoul{
    width: 100vw;
    height: fit-content;
} */

 .swiper {
     width: 100%;
     height: 100%;
 }

 .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff;

     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
 }

 .swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }



/* Categories */

.categories .sectionHome .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
    min-height: 40rem;
    transition: all 0.3s ease;
}

.categories .sectionHome .box-container .box {
    padding: 3rem 2rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    outline: .2rem solid var(--sec-light);
    outline-offset: -1rem;
    text-align: center;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

}

.categories .sectionHome .box-container .box:hover {
    outline: .3rem solid var(--sec);
    outline-offset: 0rem;
    transition: all 0.3s ease;

}

.categories .sectionHome .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.categories .sectionHome .box-container .box h3 {
    font-size: 2rem;
    color: #333;
    line-height: 1.8;
}

.categories .sectionHome .box-container .box p {
    font-size: 1.7rem;
    color: var(--sec-light);
    line-height: 1.8;
    padding: 1rem 0;
}




/* Services */

.services{
    padding: 1rem 9%;
    margin-bottom: 2rem;
}

.services .heading{
    padding-bottom: 3rem !important;
}

.services .f-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    transition: all 0.5s;
}

.services .f-box-container .f-box {
    padding: 3rem 2rem;
    background: #fff;
    outline: .2rem solid var(--sec-light);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: 0 .5rem 1.5rem #7a7a7aa1;
    transition: all 0.5s;
}

.services .f-box-container .f-box:hover {
    outline: .3rem solid var(--sec);
    outline-offset: 0rem;
}

.services .f-box-container .f-box img {
    margin: 1rem 0;
    height: 15rem;
}

.services .f-box-container .f-box h3 {
    font-size: 2.5rem;
    line-height: 1.8;
    color: #130f40;
}

.services .f-box-container .f-box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #666;
    padding: 1rem 0;
}


/* form */

.query {
    height: 100vh;
    background: linear-gradient(135deg,
            #6f6df4,
            var(--sec));
    position: relative;
}

.query-container {
    background-color: #ffffff;
    width: 70%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
}

.query-container h1 {
    font-size: 30px;
    text-align: center;
    color: #1c093c;
}

.query-container p {
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 14px;
    font-weight: 400;
}

.query-container form {
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}

.query-container .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}

.query-container label {
    color: #1c093c;
    font-size: 14px;
}

.query-container textarea,
.query-container input {
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}

.query-container textarea {
    resize: none;
}

.query-container textarea:focus,
.query-container input:focus {
    outline: none;
    border-color: #6f6df4;
}

.query-container a {
    text-decoration: none;
    color: inherit;
}

.query-container .button {
    border: none;
    padding: 15px 20px;
    color: black;
    border-radius: 3px;
    background: transparent;
    text-decoration: none;
    line-height: 1.5;
}

.query-container .button:hover{
    color: white;
}

.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
}

.cta:before {
    content: "";
    position: absolute;
    top: 9%;
    left: 0;
    display: block;
    border-radius: 30px;
    background: #6f6df4cf;
    width: 56px;
    height: 44px;
    transition: all 0.3s ease;
    z-index: -1;
}

.cta  {
    position: relative;
    font-size: 16px;
    line-height: 15px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: linear-gradient(130deg,
            #6f6df4,
            var(--sec));
}

.cta:hover svg {
    transform: translateX(0);
    stroke: white;
}

.cta:active {
    transform: scale(0.96);
}