<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

</head>
<body>


<!--<table class="table table-striped table-bordered">-->
<!--    <thead class="table-dark">-->

<!--    </thead>-->
<!--    <tbody>-->
<tr th:each="Customers: ${customer}">
    <td th:text="${Customers.getCustomerID()}"></td>
</tr>

<!--    </tbody>-->
<!--</table>-->


</body>
</html>
