<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:insert="base :: header"></head>

<body>
    <div th:replace="base :: navbar"></div>

    <main>
        <div class="contentAllProd">
            <h1 class=" heading">Our <span>Products</span></h1>
            <hr>
            <div class="productCard">
                <div class="card box" th:each="product: ${products}">
                    <img th:src="${product.getPicturePath()}"
                        alt="error">
                    <div class="">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h3 th:text="${product.getName()}"></h3>
                            </li>
                            <li class="list-group-item itm2">
                                <sapn >Variant:</sapn><h4 th:text="' '+${product.getVariant()}"></h4>
                            </li>
                            <li class="list-group-item itm2">
                                <span >Warranty:</span><h4 th:text="' '+${product.getWarrantyLength()}"></h4>
                            </li>
                            <li class="list-group-item itm2">
                                <span>MRP:</span><h4 th:text="' Rs.:'+ ${product.getMRP()}"></h4>
                            </li>
                            <li class="list-group-item itm2">
                                <span>Description</span><h4 th:text="${product.getDescription()}"></h4>
                            </li>
                        </ul>
                        <div class="card-body">
                            <div class="btn">
                                <a th:href="'/productDetail/'+${product.getProductID()}"
                                    style="text-align: center;">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>

    <div th:insert="base :: footer" class="footer-wrap"></div>
</body>

</html>