<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:insert="base :: header"></head>

<body>
  <div th:replace="base :: navbar"></div>

  <main>

    <div class="welcome">
      <div class="full-screen">
        <div>
          <h1>Welcome To RK Computers</h1>
          <br>
          <a class="button-line" th:href="@{/allProducts}">See Products</a>
        </div>
      </div>
    </div>


    <div class="ourProducts">
      <section class="sectionHome">
        <h2 class="heading">
          OUR COLLECTION
        </h2>
        <hr>
        <div class="container slider">
          <div class="card" th:each="product: ${products}">

            <a th:href="'/productDetail/'+${product.getProductID()}">

              <h4 class="bookName" th:text="${product.getProductID()}"></h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h3 th:text="${product.getMRP()}"></h3>
                </li>
                <li class="list-group-item itm2">
                  <h4 th:text="${product.getCostPrice()}"></h4>
                </li>
              </ul>
            </a>
          </div>
        </div>
      </section>
      <div class="btn v-more">
        <a th:href="@{/allProducts}">View More</a>
      </div>
    </div>


    <div class="categories" id="Categories">
        <section class="sectionHome">
          <h2 class="heading">
            OUR CATEGORIES
          </h2>
          <hr>
          <div class="container slider">
            <div class="card" th:each="category: ${categories}">
              <a th:href="'allProducts/'+${category.getCategory()}">
                <h4 class="" th:text="${category.getCategory()}"></h4>
                <!-- <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <h3 th:text="${product.getMRP()}"></h3>
                  </li>
                  <li class="list-group-item itm2">
                    <h4 th:text="${product.getCostPrice()}"></h4>
                  </li>
                </ul> -->
              </a>
            </div>
          </div>
        </section>
    </div>


    <div class="query">
          <div class="query-container">
            <h1>GET IN TOUCH</h1>
            <p>Have any questions or suggestions? Drop us a message</p>
            <form>
              <div class="row">
                <div class="column">
                  <label for="name">Name</label>
                  <input type="text" id="name" placeholder="Your name here">
                </div>
                <div class="column">
                  <label for="email">Email</label>
                  <input type="email" id="email" placeholder="Your email here">
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <label for="subject">Subject</label>
                  <input type="text" id="subject" placeholder="Your subject here">
                </div>
                <div class="column">
                  <label for="contact">Contact Number</label>
                  <input type="tel" id="contact" placeholder="Your phone number here">
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <label for="issue">Describe your issue</label>
                  <textarea id="issue" placeholder="Describe your issue in detail here" rows="3"></textarea>
                </div>
              </div>
              <a href="#" class="button cta">
                <span>Submit</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </a>
            </form>
          </div>
    </div>
  </main>

  <div th:insert="base :: footer" class="footer-wrap"></div>
</body>

</html>