<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

</head>
<body>
<div th:each="Category, iterStat: ${Category}">
  <span th:text="${Category}"></span>
  <span th:text="${profit[iterStat.index]}"></span>
  <span th:text=""${profit[iterStat.index]}></span>
</div>

</body>
</html>
